.c-deepgreen {
  color: #166e32 !important;
}

.c-lightgreen {
  color: #176f45 !important;
}

.c-textgreen {
  color: #66ad45 !important;
}

.c-textlightgreen {
  color: #56ad3c !important;
}

.bg-deepgreen {
  background-color: #166e32 !important;
}

.bg-green {
  background-color: #6cb643 !important;
}
